@{
    ViewBag.Title = "AboutMe";
}
@section header {
    <style type="text/css">
        body {
            background-image: url(../Images/background.png);
            font-family: Arial;
            font-size: 12px;
        }
        table {
            background-color:black; 
            color:lawngreen;
        }
    </style>
}

<table border="1" align="center" style="width: 85%; height: 600px;">
    <tr style="height: 120px;">
        <th colspan="4"><img src="../Images/TempBanner.jpg" width="100%"> </th>
    </tr>
    <tr style="text-align: center; height: 50px;">
        <td style="width: 25%;">@Html.ActionLink("About Me", "AboutMe", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Game", "", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Home", "", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Reviews", "Reviews", "Home")</td>
    </tr>
    <tr style="text-align:center;">
        <td colspan="1">
                <img src="../Images/Myself.jpg" width="100%" height="100%">
        </td>
        <td colspan="3" style="text-align:left;">
            I'm Cody Smith, an amateur programmer. I play tennis, watch anime, play videogames, and skate. I attend Sachse High School, and I plan on going to <br />
            Richland College for a few years before heading to the University of Texas at Dallas (UTD), where I will study Computer Science. <br />
            As for hobbies, I play video games avidly, playing in tournaments every other week. The tournaments I win are mainly for in game prizes, but they're <br />
            still fun to play in. I mostly play Quake Live and League of Legends, but any other game that catches my eye will get played, too. I've played countless<br />
            titles. To name a few: <br />
            <ul>
                <li>League of Legends</li>
                <li>The Quake series</li>
                <li>The Doom series</li>
                <li>The Half Life series</li>
                <li>The Counter Strike series</li>
                <li>Minecraft</li>
                <li>The Touhou series</li>
                <li>Step Mania</li>
                <li>Anti-chamber</li>
                <li>The Portal Series</li>
                <li>Dragon Nest</li>
                <li>Phantasy Star Online</li>
                <li>Chrono Trigger</li>
                <li>Pokemon</li>
            </ul>
            <br />
            The point being, I could go on forever.
        </td>
    </tr>
</table>