@{
    ViewBag.Title = "AboutMe";
}
@section header {
    <style type="text/css">
        body {
            background-image: url(../Images/background.png);
            font-family: Arial;
            font-size: 12px;
        }
        table {
            background-color:black; 
            color:lawngreen;
        }
    </style>
}

<table border="1" align="center" style="width: 85%; height: 600px;">
    <tr style="height: 120px;">
        <th colspan="4"><img src="../Images/Banner.png" width="100%"> </th>
    </tr>
    <tr style="text-align: center; height: 50px;">
        <td style="width: 25%;">@Html.ActionLink("About Me", "AboutMe", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Game", "", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Home", "", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Reviews", "Reviews", "Home")</td>
    </tr>
    <tr style="text-align:center;">
        <td colspan="1">
                <img src="../Images/Myself2.jpg" width="100%" height="50%">
        </td>
        <td colspan="3" style="text-align:left;">
            I'm Cody Smith, an amateur programmer. I play tennis, watch anime, play videogames, and skate. I attend Sachse High School, and I plan on going to <br />
            Richland College for a few years before heading to the University of Texas at Dallas (UTD), where I will study Computer Science. <br />
            As for hobbies, I play video games avidly, playing in tournaments every other week. The tournaments I win are mainly for in game prizes, but they're <br />
            still fun to play in. I mostly play Quake Live and League of Legends, but any other game that catches my eye will get played, too. I've played countless<br />
            titles. To name a few: <br />
            <ul>
                <li><a href="http://na.leagueoflegends.com/">League of Legends</a></li>
                <li><a href="http://www.idsoftware.com/gate.php?referer=%2Fgames%2Fquake%2Fquake">The Quake series</a></li>
                <li><a href="http://www.idsoftware.com/gate.php?referer=%2Fgames%2Fdoom%2Fdoom-final">The Doom series</a></li>
                <li><a href="http://orange.half-life2.com/">The Half Life series</a></li>
                <li><a href="http://blog.counter-strike.net/">The Counter Strike series</a></li>
                <li><a href="https://minecraft.net/">Minecraft</a></li>
                <li><a href="http://touhou.wikia.com/wiki/Touhou_Wiki">The Touhou series</a></li>
                <li><a href="http://www.stepmania.com/">Step Mania</a></li>
                <li><a href="http://www.antichamber-game.com/">Anti-chamber</a></li>
                <li><a href="http://www.thinkwithportals.com/">The Portal Series</a></li>
                <li><a href="http://dragonnest.nexon.net/">Dragon Nest</a></li>
                <li><a href="http://www.pso2.com/us/">Phantasy Star Online</a></li>
                <li><a href="http://na.square-enix.com/ctds/">Chrono Trigger</a></li>
                <li><a href="http://www.pokemon.com/us/">Pokemon</a></li>
            </ul>
            <br />
            The point being, I could go on forever.
        </td>
    </tr>
</table>