@{
    ViewBag.Title = "AboutMe";
}
@section header {
    <style type="text/css">
        body {
            background-image: url(Images/background.png);
            font-family: Arial;
            font-size: 12px;
        }
        table {
            background-color:black; 
            color:lawngreen;
        }
    </style>
}

<table border="1" align="center" style="width: 85%; height: 600px;">
    <tr style="height: 120px;">
        <th colspan="2"><a href="index.cshtml"><img src="Images/TempBanner.jpg" width="100%"></a> </th>
    </tr>
    <tr style="text-align: center; height: 50px;">
        <td style="width: 50%;">@Html.ActionLink("About Me", "AboutMe", "Home")</td>
        <td style="width: 50%;">@Html.ActionLink("Reviews", "Reviews", "Home")</td>
    </tr>
    <tr style="text-align:center;">
        <td colspan="2">
            <p>
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br /> 
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text. <br />
            </p>
            <p>
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br /> 
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, <br />
                Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text, Filler Text. <br />
            </p>
        </td>
    </tr>
</table>