@{
    ViewBag.Title = "Reviews";
}
@section header {
    <style type="text/css">
        body {
            background-image: url(../Images/background.png);
            font-family: Arial;
            font-size: 12px;
        }
        table {
            background-color:black; 
            color:lawngreen;
        }
    </style>
}

<table border="1" align="center" style="width: 85%; height: 600px;">
    <tr style="height: 120px;">
        <th colspan="4"><img src="../Images/Banner.png" width="100%"> </th>
    </tr>
    <tr style="text-align: center; height: 50px;">
        <td style="width: 25%;">@Html.ActionLink("About Me", "AboutMe", "Home")</td>
        <td style="width: 25%;"><a href="/Galaga.html">Game</a></td>
        <td style="width: 25%;">@Html.ActionLink("Home", "index", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Reviews", "Reviews", "Home")</td>
    </tr>
    <tr style="text-align:left; vertical-align:top;">
        <td colspan="2">
            <h3>Reviews</h3>
            <ul>

            </ul>
        </td>
        <td colspan="2">
            <h3>Games to Review</h3>
            <ul>
                <li><a href="http://orange.half-life2.com/">Half Life 2</a></li>
                <li><a href="http://us.blizzard.com/en-us/games/war3/">Warcraft 3</a></li>
                <li><a href="http://dragonnest.nexon.net/">Dragon nest</a></li>
                <li><a href="http://us.battle.net/d3/en/">Diablo 3</a></li>
                <li><a href="https://www.guildwars2.com/en/">Guild Wars 2</a></li>
                <li><a href="http://www.antichamber-game.com/">Anti-Chamber</a></li>
                <li><a href="https://minecraft.net/">Minecraft</a></li>
                <li><a href="http://na.leagueoflegends.com/">League of Legends</a></li>
            </ul>
        </td>
    </tr>
</table>