@{
    ViewBag.Title = "Reviews";
}
@section header {
    <style type="text/css">
        body {
            background-image: url(../Images/background.png);
            font-family: Arial;
            font-size: 12px;
        }
        table {
            background-color:black; 
            color:lawngreen;
        }
    </style>
}

<table border="1" align="center" style="width: 85%; height: 600px;">
    <tr style="height: 120px;">
        <th colspan="4"><img src="../Images/TempBanner.jpg" width="100%"> </th>
    </tr>
    <tr style="text-align: center; height: 50px;">
        <td style="width: 25%;">@Html.ActionLink("About Me", "AboutMe", "Home")</td>
        <td style="width: 25%;"><a href="/Galaga.html">Game</a></td>
        <td style="width: 25%;">@Html.ActionLink("Home", "index", "Home")</td>
        <td style="width: 25%;">@Html.ActionLink("Reviews", "Reviews", "Home")</td>
    </tr>
    <tr style="text-align:center;">
        <td colspan="4">
            <p>
                Welcome to my site. I'm Cody Smith, and I'm an amateur web developer. This site will be used for reviews of my favorite and least favorite games that I've played over <br />
                the years. Games such as, the Half Life series, League of Legends, Portal, Antichamber, Warcraft 3, and several more. But besides it being a creative review site, it's <br />
                mostly practice for me, in order to deal with dynamic data and also to learn .NET. Please click any of the links above to learn more about me, or to see the current <br />
                reviews I have up.
            </p>

            <img src="../Images/Myself.jpg">
        </td>
    </tr>
</table>